/* Add Option Error */
.add-option-error {
  color: $purple;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

/* Add Option */
.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
  background: $dark-purple;
  border: none;
  border-bottom: .2rem solid darken($off-white, 10%);
  color: $off-white;
  flex-grow: 1;
  margin: 0 0 $s-size 0; /*margin-right: $s-size;*/
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option__inout {
    margin: 0 $s-size 0 0;
  }
}
