/* Widget */
.widget {
  background: $widget-blue;
  margin-bottom: $xl-size;
}

.widget__message {
  border-bottom: 1px solid lighten($bright-blue, 10%);
  color: $bright-blue;
  margin: 0;
  padding: $l-size;
  text-align: center;
}

/* Widget Header */
.widget-header {
  background: $widget-background;
  color: $dark-purple;
  display: flex;
  justify-content: space-between;
  padding: $m-size
}

.widger-header__title {
  margin: 0;
}
