html {
  font-size: 62.5%;
}

body {
  background: #D5EEFF;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}
