/* Colours */
$dark-purple: #404969;
$off-white: #a5afd7;
$bright-blue: #D5EEFF;
$blue: #3c4251;
$widget-blue: #464b5e;
$purple: #8785A2;
$widget-background: #FAFAFA;

/* Spacing */
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
